<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.novel.mapper.FeedbackMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.novel.domain.Feedback">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="feedbackContent" column="feedback_content" jdbcType="VARCHAR"/>
            <result property="resolutionStatus" column="resolution_status" jdbcType="TINYINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,feedback_content,resolution_status,
        user_id,email,create_time
    </sql>
</mapper>
