<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('修改章节')" />
</head>
<body>
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="chapter-form">
                <div class="select-list">
                    <ul>
                        <li>
                            章节标题：<input type="text" id="chapterTitle" name="chapterTitle" th:value="${chapterTitle}" required/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="uploadChapter()"><i class="glyphicon glyphicon-upload"></i>&nbsp;更新</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>


        <div class="col-sm-12 select-table table-striped">
            <!-- 章节ID隐藏域 -->
            <input type="hidden" id="chapterId" th:value="${chapterId}" />
            <div id="chapterContent" th:utext="${chapterContent}">
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript"> var ctx = [[@{/}]]; var lockscreen = [[${session.lockscreen}]]; if(lockscreen){window.top.location=ctx+"lockscreen";} </script>
<a id="scroll-up" href="#" class="btn btn-sm display"><i class="fa fa-angle-double-up"></i></a>
<script th:src="@{/js/jquery.min.js?v=3.6.0}"></script>
<!-- 遮罩层 -->
<script th:src="@{/ajax/libs/blockUI/jquery.blockUI.js?v=2.70.0}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js?v=3.5.1}"></script>
<script th:src="@{/ruoyi/js/ry-ui.js?v=4.7.3}"></script>

<!-- 添加富文本编辑器插件 -->
<script th:src="@{/js/plugins/WangEditor/wangEditor.js}"></script>


<script th:inline="javascript">
    var prefix = ctx + "novel/bookChapter";

    const E = window.wangEditor;
    const editor = new E('#chapterContent');

    //设置编辑区区域高度
    editor.config.height = 900;

    editor.create();

    //上传章节信息
    function uploadChapter(){

        //章节ID
        var chapterId = $("#chapterId").val();
        //章节标题
        var chapterTitle = $("#chapterTitle").val();
        //章节内容
        var chapterContent = editor.txt.html();
        //章节字数
        var chapterWord = editor.txt.text().length;

        console.log("chapterId:"+chapterId+"chapterTitle:"+chapterTitle,+"chapterWord:"+chapterWord);

        //打开遮罩层
        $.modal.loading("正在提交信息，请稍后...");

        //根据chapterID修改章节内容、章节标题、章节字数、更新时间等属性
        $.operate.post(prefix + "/edit", {
            //目录表信息
            chapterId: chapterId,
            chapterTitle: chapterTitle,
            chapterWord: chapterWord
        },function (result) {

            if (result.code == 0){
                //添加内容表信息
                $.operate.post(prefix + "/editContent", {

                    id:chapterId,
                    chapterContent:chapterContent

                },function (result) {

                    // 关闭遮罩层信息
                    $.modal.closeLoading();
                    if (result.code == 0){
                        $.modal.msgSuccess("章节信息修改成功！请回到目录页并刷新");
                    }else {
                        $.modal.msgError("章节信息修改失败，请联系管理员！");
                    }

                });


            }else {
                // 关闭遮罩层信息
                $.modal.closeLoading();
                $.modal.msgError("目录信息修改失败，请联系管理员！");
            }
        });
    }
</script>
</body>
</html>