<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.novel.mapper.BookMapper">
    
    <resultMap type="Book" id="BookResult">
        <result property="id"    column="id"    />
        <result property="authorId"    column="author_id"    />
        <result property="bookName"    column="book_name"    />
        <result property="bookCategory"    column="book_category"    />
        <result property="bookIndexId"    column="book_index_id"    />
        <result property="picUrl"    column="pic_url"    />
        <result property="bookIntro"    column="book_intro"    />
        <result property="authorSpeak"    column="author_speak"    />
        <result property="bookWord"    column="book_word"    />
        <result property="subsNum"    column="subs_num"    />
        <result property="visitCount"    column="visit_count"    />
        <result property="cteateTime"    column="cteate_time"    />
        <result property="lastChapterId"    column="last_chapter_id"    />
        <result property="lastChapterTitle"    column="last_chapter_title"    />
        <result property="updateTime"    column="update_time"    />
        <result property="checkStatus"    column="check_status"    />
        <result property="bookStatus"    column="book_status"    />
    </resultMap>

    <sql id="selectBookVo">
        select id, author_id, book_name, book_category, book_index_id, pic_url, book_intro, author_speak, book_word, subs_num, visit_count, cteate_time, last_chapter_id, last_chapter_title, update_time, check_status, book_status from book
    </sql>

    <select id="selectBookList" parameterType="Book" resultMap="BookResult">
        <include refid="selectBookVo"/>
        <where>  
            <if test="bookName != null  and bookName != ''"> and book_name like concat('%', #{bookName}, '%')</if>
            <if test="bookCategory != null "> and book_category = #{bookCategory}</if>
            <if test="checkStatus != null "> and check_status = #{checkStatus}</if>
            <if test="bookStatus != null "> and book_status = #{bookStatus}</if>
        </where>
    </select>
    
    <select id="selectBookById" parameterType="Long" resultMap="BookResult">
        <include refid="selectBookVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBook" parameterType="Book" useGeneratedKeys="true" keyProperty="id">
        insert into book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="authorId != null">author_id,</if>
            <if test="bookName != null and bookName != ''">book_name,</if>
            <if test="bookCategory != null">book_category,</if>
            <if test="bookIndexId != null">book_index_id,</if>
            <if test="picUrl != null">pic_url,</if>
            <if test="bookIntro != null and bookIntro != ''">book_intro,</if>
            <if test="authorSpeak != null">author_speak,</if>
            <if test="bookWord != null">book_word,</if>
            <if test="subsNum != null">subs_num,</if>
            <if test="visitCount != null">visit_count,</if>
            <if test="cteateTime != null">cteate_time,</if>
            <if test="lastChapterId != null">last_chapter_id,</if>
            <if test="lastChapterTitle != null">last_chapter_title,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="checkStatus != null">check_status,</if>
            <if test="bookStatus != null">book_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="authorId != null">#{authorId},</if>
            <if test="bookName != null and bookName != ''">#{bookName},</if>
            <if test="bookCategory != null">#{bookCategory},</if>
            <if test="bookIndexId != null">#{bookIndexId},</if>
            <if test="picUrl != null">#{picUrl},</if>
            <if test="bookIntro != null and bookIntro != ''">#{bookIntro},</if>
            <if test="authorSpeak != null">#{authorSpeak},</if>
            <if test="bookWord != null">#{bookWord},</if>
            <if test="subsNum != null">#{subsNum},</if>
            <if test="visitCount != null">#{visitCount},</if>
            <if test="cteateTime != null">#{cteateTime},</if>
            <if test="lastChapterId != null">#{lastChapterId},</if>
            <if test="lastChapterTitle != null">#{lastChapterTitle},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="checkStatus != null">#{checkStatus},</if>
            <if test="bookStatus != null">#{bookStatus},</if>
         </trim>
    </insert>

    <update id="updateBook" parameterType="Book">
        update book
        <trim prefix="SET" suffixOverrides=",">
            <if test="authorId != null">author_id = #{authorId},</if>
            <if test="bookName != null and bookName != ''">book_name = #{bookName},</if>
            <if test="bookCategory != null">book_category = #{bookCategory},</if>
            <if test="bookIndexId != null">book_index_id = #{bookIndexId},</if>
            <if test="picUrl != null">pic_url = #{picUrl},</if>
            <if test="bookIntro != null and bookIntro != ''">book_intro = #{bookIntro},</if>
            <if test="authorSpeak != null">author_speak = #{authorSpeak},</if>
            <if test="bookWord != null">book_word = #{bookWord},</if>
            <if test="subsNum != null">subs_num = #{subsNum},</if>
            <if test="visitCount != null">visit_count = #{visitCount},</if>
            <if test="cteateTime != null">cteate_time = #{cteateTime},</if>
            <if test="lastChapterId != null">last_chapter_id = #{lastChapterId},</if>
            <if test="lastChapterTitle != null">last_chapter_title = #{lastChapterTitle},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="checkStatus != null">check_status = #{checkStatus},</if>
            <if test="bookStatus != null">book_status = #{bookStatus},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBookById" parameterType="Long">
        delete from book where id = #{id}
    </delete>

    <delete id="deleteBookByIds" parameterType="String">
        delete from book where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>