<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: front_header('通知公告')"/>
    <style>
        .box a{
            color: black;
        }
        .box a:hover{
            color: rgb(84, 165, 108);
            text-decoration: none;
        }
    </style>
</head>
<body>
    <!-- 页头 -->
    <div class="container">

        <div class="row">
            <!-- 导航条 -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- logo -->
                    <div class="navbar-header">
                            <span>
                                <a th:href="@{/front/index}">
                                    <img alt="logo" th:src="@{/../../img/logo.png}" width="150px">
                                </a>
                            </span>
                    </div>
                    <!-- 表单 -->
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="书名、作者、关键字">
                        </div>
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                    <!-- 书架、登录 -->
                    <p class="navbar-text navbar-right"><a th:href="${user eq null}? @{/front/index/login} : @{/front/index/toBookShelf}" class="navbar-link"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 我的书架</a> | <a th:href="${user eq null}? @{/front/index/login} : @{/front/index/toUserInfo}" class="navbar-link" th:text="${user eq null}? '登录' : ${user.userName}">登录</a></p>
                </div>
            </nav>

        </div>

    </div>

    <!-- 导航栏 -->
    <div class="navtab" style="background-color:rgb(84, 165, 108);">

        <div class="container">

            <div class="row">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a th:href="@{/front/index}">首页</a></li>
                    <li role="presentation"><a th:href="@{/front/index/allWork}">全部作品</a></li>
                    <li role="presentation"><a th:href="@{/front/index/toRankList}">排行榜</a></li>
                    <li role="presentation"><a th:href="@{/front/index/toAuthorRegis}">作家专区</a></li>
                </ul>
            </div>

        </div>

    </div>

    <!-- 内容区 -->
    <div class="container">


        <!-- 上部面板 -->
        <div class="box channel row">
            <!-- 内容 -->
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <div class="title">
                    <h3>通知公告</h3>
                    <hr>
                </div>

                <th:block th:each="notice,noticeStat:${noticeList}">

                    <div class="line row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            [<a th:href="${notice.noticeType == 1}? @{/front/notice/change/{id}(noticeType=1)} : @{/front/notice/change/{id}(noticeType=2)}"  th:text="${@dict.getLabel('sys_notice_type', notice.noticeType)}">通知</a>] |
                            <a th:href="@{/front/notice/toNoticeContent/{id}(noticeId=${notice.noticeId})}" th:text="${notice.noticeTitle}">温馨提醒：2018-07-01 若依新版本发布啦</a>
                        </div>
                    </div>

                </th:block>
            </div>

            <!-- 查看类型 -->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="title">
                    <h3>类型</h3>
                    <hr>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h5>
                            <a th:href="@{/front/notice/change/{id}(noticeType=2)}">公告</a>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h5>
                            <a th:href="@{/front/notice/change/{id}(noticeType=1)}">通知</a>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h5>
                            <a th:href="@{/front/notice/change/{id}}">全部</a>
                        </h5>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- 尾部标签页 -->
    <hr>
    <div class="footer container">
        <p class="text-center">基于SpringBoot的网文阅读网的设计与实现 | create by @zqw | 联系方式：goodzhang888@163.com</p>
    </div>

    <th:block th:include="include :: footer" />

    <script th:inline="javascript">

        var prefix = ctx + "front/notice";



    </script>
</body>
</html>