<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: front_header('个人信息')"/>

    <style>
        .box-left li{
            margin-bottom: 20px;
        }
        .box-left li a{
            text-decoration: none;
            color: black;
        }
        .box-left li a:hover{
            color: rgb(84, 165, 108);
        }
        .box-left li span{
            color: rgb(84, 165, 108);
        }
        .userInfo{
            margin-top: 10px;
            width: 400px;
        }
        .userInfo .form-control{
            margin-bottom: 10px;
        }
        .radio{
            margin-left: 30px;
        }
    </style>
</head>
<body>
<!-- 页头 -->
<div class="container">

    <div class="row">
        <!-- 导航条 -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- logo -->
                <div class="navbar-header">
                            <span>
                                <a th:href="@{/front/index}">
                                    <img alt="logo" th:src="@{/../../img/logo.png}" width="150px">
                                </a>
                            </span>
                </div>
                <!-- 表单 -->
                <form class="navbar-form navbar-left" role="search" th:action="@{/front/index/toNovelResult}" th:method="post">
                    <div class="form-group">
                        <input name="bookName" type="text" class="form-control" placeholder="请输入书名...">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
                <!-- 书架、登录 -->
                <p class="navbar-text navbar-right"><a th:href="${user eq null}? @{/front/index/login} : @{/front/index/toBookShelf}" class="navbar-link"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 我的书架</a> | <a th:href="${user eq null}? @{/front/index/login} : @{/front/index/toUserInfo}" class="navbar-link" th:text="${user eq null}? '登录' : ${user.userName}">登录</a></p>
            </div>
        </nav>

    </div>

</div>

<!-- 导航栏 -->
<div class="navtab" style="background-color:rgb(84, 165, 108);">

    <div class="container">

        <div class="row">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a th:href="@{/front/index}">首页</a></li>
                <li role="presentation"><a th:href="@{/front/index/allWork}">全部作品</a></li>
                <li role="presentation"><a th:href="@{/front/index/toRankList}">排行榜</a></li>
                <li role="presentation"><a th:href="@{/front/index/toAuthorRegis}">作家专区</a></li>
            </ul>
        </div>

    </div>

</div>

<!-- 内容区 -->
<div class="container">

    <div class="channel row">
        <hr/>

        <!-- 左栏 -->
        <div class="box-left col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <ul>
                <li>
                    <span class="fa fa-user-circle-o fa-fw"></span>
                    <a th:href="@{/front/index/toUserInfo}">个人中心</a>
                </li>
                <li>
                    <span class="fa fa-book fa-fw"></span>
                    <a th:href="@{/front/index/toBookShelf}">我的书架</a>
                </li>
                <li>
                    <span class="fa fa-commenting fa-fw"></span>
                    <a href="">我的书评</a>
                </li>
                <li>
                    <span class="fa fa-gear fa-fw"></span>
                    <a href="">我的反馈</a>
                </li>
            </ul>
        </div>

        <!-- 右栏 -->
        <div class="box-right col-xs-10 col-sm-10 col-md-10 col-lg-10">

            <div class="row">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a th:href="@{/front/index/toUserInfo}">基本信息</a></li>
                    <li role="presentation"><a th:href="@{/front/index/toPwChange}">修改密码</a></li>
                </ul>
            </div>

            <!-- 信息介绍 -->
            <div class="row">
                <div class="userInfo">

                    <form id="user-info-form">
                        <div  class="form-group">
                            <label class="col-sm-3 control-label is-required">姓名：</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="userName" id="userName" th:value="${user.userName}">
                            </div>
                        </div>
                        <div  class="form-group">
                            <label class="col-sm-3 control-label">性别：</label>
                            <div class="col-sm-8">
                                <span class="radio" style="display: inline-block"><input type="radio" value="0" th:checked="${user.sex} eq '0'? 'checked' : 'false'" id="radio1" th:field="${user.sex}" name="sex">男</span>
                                <span class="radio" style="display: inline-block"><input type="radio" value="1" th:checked="${user.sex} eq '1'? 'checked' : 'false'" id="radio2" th:field="${user.sex}" name="sex">女</span>
                            </div>
                        </div>
                        <div  class="form-group">
                            <label class="col-sm-3 control-label is-required" >手机号码：</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="phone" id="phone"  th:field="${user.phonenumber}" th:value="${user.phonenumber}">
                            </div>
                        </div>
                        <div  class="form-group">
                            <label class="col-sm-3 control-label is-required">邮箱：</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="email" id="email" th:field="${user.email}" th:value="${user.email}">
                            </div>
                        </div>
                        <p>
                            <input class="btn btn-success" type="submit" value="确认修改">
                        </p>
                    </form>

                </div>
            </div>

        </div>

    </div>

</div>

<!-- 尾部标签页 -->
<hr>
<div class="footer container">
    <p class="text-center">基于SpringBoot的网文阅读网的设计与实现 | create by @zqw | 联系方式：goodzhang888@163.com</p>
</div>

<script th:inline="javascript"> var ctx = [[@{/}]]; var lockscreen = [[${session.lockscreen}]]; if(lockscreen){window.top.location=ctx+"lockscreen";} </script>
<a id="scroll-up" href="#" class="btn btn-sm display"><i class="fa fa-angle-double-up"></i></a>
<script th:src="@{/js/jquery.min.js?v=3.6.0}"></script>
<script th:src="@{/js/bootstrap.min.js?v=3.3.7}"></script>
<!-- jquery-validate 表单验证插件 -->
<script th:src="@{/ajax/libs/validate/jquery.validate.min.js?v=1.19.3}"></script>
<script th:src="@{/ajax/libs/validate/jquery.validate.extend.js?v=1.19.3}"></script>
<script th:src="@{/ajax/libs/validate/messages_zh.js?v=1.19.3}"></script>
<script th:src="@{/ajax/libs/validate/jquery.form.js}"></script>
<!-- 遮罩层 -->
<!--<script th:src="@{/ajax/libs/blockUI/jquery.blockUI.js?v=2.70.0}"></script>-->
<!--<script th:src="@{/ajax/libs/iCheck/icheck.min.js?v=1.0.3}"></script>-->
<!--<script th:src="@{/ajax/libs/layer/layer.min.js?v=3.5.1}"></script>-->
<!--<script th:src="@{/ajax/libs/layui/layui.min.js?v=2.6.8}"></script>-->
<script th:src="@{/ruoyi/js/common.js?v=4.7.3}"></script>
<script th:src="@{/ruoyi/js/ry-ui.js?v=4.7.3}"></script>

<script th:inline="javascript">



    $(document).ready(function(){

        var icon = "<i class='fa fa-times-circle'></i> ";
        $('#user-info-form').validate({
            onkeyup: false,
            rules: {
                userName: {
                    required: true
                },
                phonenumber: {
                    isPhone: true
                },
                email: {
                    email: true
                }

            },
            messages: {
                username: {
                    required: icon + "请输入您的用户名",
                }
            },
            submitHandler:function(form){

                var sex = $("input[type='radio']:checked").val();
                var phonenumber =$("#phone").val();
                var email =$("#email").val();

                $.post(ctx + "front/userInfo/update",{

                    username: $("#userName").val(),
                    sex: sex,
                    phonenumber: phonenumber,
                    email: email

                },function (result) {
                    alert("操作成功！");
                    location.href = ctx + "front/index/toUserInfo";
                });

            }


        });

    });


</script>
</body>
</html>